@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.container {
    background-color: rgb(243, 237, 229);
    max-width: 322px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
}

h3 {
    position: relative;
    bottom: 10px;
}

.row {
    margin: 6px 0;
}

.row .input {
    padding: 5px 1px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row input {
    background-color: rgb(206, 200, 200);
    box-shadow: 1px 1px 1px 1px gray;
}

.screen,
.buttons {
    width: 100%;
    padding: 10px;
    background-color: rgb(222, 216, 216);
    border-radius: 10px 10px 0 0;
}

.buttons {
    border-radius: 0 0 10px 10px;
    display: grid;
}

.button {
    padding: 15px;
    margin: 0 6px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px gray;
    cursor: pointer;
    width: 50px;
    font-weight: bold;
}


.button:hover {
    background-color: rgb(188, 187, 187);
}
.red {
    background-color: red;
    color: white;
}

.red:hover {
    background-color: rgb(190, 7, 7);
}

.blue {
    background-color: #749dff;
}

.blue:hover{
    background-color: #6881bc;
}